* {
    margin: 0%;
    padding: 0%;
}

#header-section {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header-section-split {
    width: 40%;
}

img {
    width: 100%;
}

.button-style {
    padding: 10px 12px;
    background-image: linear-gradient(to right, red, rgb(27, 185, 119));
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#about-me-section {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.about-me-section-split {
    width: 40%;
}

#My-recipies-section {
    height: 50%;
    width: 60%;
    margin: auto;
    text-align: center;
}

#Recipies-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Recipies-section-split {
    width: 40%;
    padding: 2%;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    margin: 1%;
}

#counter-section {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    padding: 3%;
    margin: 3%;
}

.counter-section-split {
    width: 20%;
}

#footer-part {
    width: 100%;
    padding: 3%;
    margin: auto;
    text-align: center;
    background-color: black;
    color: white;
}