* {
    margin: 0%;
    padding: 0%;
}

.halp-width {
    width: 50%;
}

.button {
    background: linear-gradient(88.33deg, #FB6C4F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    padding: 15px 25px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

/* herder section */
header {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

#header-text {
    margin-top: 23%;
    margin-left: 20%;
}

#header-text-index {
    z-index: 1;
}

#header-text h1 {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.02em;
}

#header-text p {
    width: 60%;
}

header img {
    width: 100%;
    margin-left: -20%;
    padding-top: 20%;
}

/* main section */
section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section img {
    width: 40%;
    margin-left: 20%;
    justify-self: center;
}

#about-me {
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

#about-me-text {
    width: 60%;
}

#My-recipies {
    display: block;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 2%;
}

.style {
    margin: auto;
    width: 40%;
}

.style img {
    width: 50%;
}